.footer {
    width: 100%;
    height: 50px;
    background-color: #E28033;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    padding-top: 5px;

  }
  
  /* .socialMedia svg {
    color: white;
    margin: 5px;
    font-size: 70px;
    cursor: pointer;
  } */
  
  .footer p {
    color: white;
  }