
  .contact {

    width: 100%;
    height: 79vh;
    display: flex;
  }
  
  .contact .leftSide {
    height: 100%;
    flex: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .contact .rightSide {
    padding-left: 3%;
    padding-right: 3%;
    height: 100%;
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #e5e5e5;
  }
  
  .contact .rightSide h1 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: 10;
    font-size: 50px;
    margin-left: 30px;
  }
  
  .form {
    
    width: 10px;
  }

  /* ----- -----  Este ----- ----- */
  div, select{
    margin-bottom: 25px;
    width: inherit;
  }

  input,
  select {
    padding: 10px;
    width: inherit;
    height: 2rem;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .form .input[type="submit"] {
    height: 2.5rem;
    font-size: 1rem;
    color: black;
    background: #0971f1;
    cursor: pointer;
  }

  h2{
    color:black;
    text-align: center;
    top: 0;
  }
 
  p{
    color: red;
    font-size: 15px;
    margin: 0%;
  }

  .formulario__label{
    
    cursor: pointer;
    
  }

  .formulario__input{
    width: 500px;
    background: #fff;
    border: 1px solid transparent;
    border-radius: 1px;
    height: 40px;
    transition: .3s ease all;
    margin: 0%;
  }

  .formulario__input:focus{
    border: 3px solid #0971f1;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
  }

  .formulario__input__hora{
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 40px;
    width: 150px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
  }

  .formulario__input__hora:focus{
    border: 3px solid #0971f1;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
  }

  .formulario__btn{
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
    margin-left: 120px;
  }

  .formulario__btn:hover{
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);;
  }

   .a{
    columns: 2;
    display:flex ;
    justify-content: space-between;
    margin-left: 110px;
    margin-right: 145px;
    
   }

   .c{
    columns: 2;
    display: flex;
    justify-content: right;
    margin-right: 145px;
    margin-bottom: 0;
    margin-top: 0;
    gap: 10px;
   }
